{% extends 'IntegratedContentBundle::base.html.twig' %}

{% block content %}
    <div class="content_columns_holder">
        <div class="content_column_inner">
            <div class="results">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
