{% extends 'IntegratedContentBundle::base.html.twig' %}

{% block content %}
    <div class="content_columns_holder">
        <div class="content_column_inner">
            <div class="results">
                <h4>Are you sure you want to delete {{ wallName }}?</h4>
                {{ form(form) }}
                <a href="{{ path('integrated_subscription_show_wall') }}">Back to walls</a>
            </div>
        </div>
    </div>
{% endblock content %}
